@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 14 40% 98%;
      --foreground: 14 0% 0%;
      --muted: 14 6% 94%;
      --muted-foreground: 14 6% 30%;
      --popover: 14 40% 98%;
      --popover-foreground: 14 73% 0%;
      --card: 14 40% 98%;
      --card-foreground: 14 73% 0%;
      --border: 14 5% 90%;
      --input: 14 5% 90%;
      --primary: 14 82% 52%;
      --primary-foreground: 0 0% 100%;
      --secondary: 14 2% 84%;
      --secondary-foreground: 14 2% 24%;
      --accent: 14 2% 84%;
      --accent-foreground: 14 2% 24%;
      --destructive: 17 88% 37%;
      --destructive-foreground: 0 0% 100%;
      --ring: 14 82% 52%;
      --radius: 0.5rem;

      --custom:#22F7DD;
      --customBackground:#08111b;
      --customCard:#213040
    }
  
    .dark {
      --background: 14 0% 0%;
      --foreground: 14 22% 98%;
      --muted: 14 6% 6%;
      --muted-foreground: 14 6% 70%;
      --popover: 14 34% 1%;
      --popover-foreground: 14 22% 98%;
      --card: 14 34% 1%;
      --card-foreground: 14 22% 98%;
      --border: 14 5% 14%;
      --input: 14 5% 14%;
      --primary: 117.74 64.03% 17.35%;
      --primary-foreground: 14 0% 0%;
      --secondary: 14 8% 13%;
      --secondary-foreground: 14 8% 73%;
      --accent: 14 8% 13%;
      --accent-foreground: 14 8% 73%;
      --destructive: 199.25 88.43% 22.45%;
      --destructive-foreground: 0 0% 100%;
      --ring: 14 82% 52%;
    }


  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  /* dapp-sdk */

.dapp-core-component__dappModalStyles__dappModalContent, .dapp-core-component__progressStyles__progress{
  color: black;
}


body{
  /* pointer-events: initial !important; */
}

.go2072408551{
  padding: 0 !important;
  background: #ffff00 !important;
}

.ReactModal__Overlay--after-open{
  @apply !bg-black/80
}